/* #wrapper {
  width: 100%;
  margin: 10%;
} */
* {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  clear: both;
  height: 322px;
  /* padding: 20px; */
  padding-top: 20px;
  color: #babfc4;
  background-color: #232629;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
}
