/* div {
  border: 1px solid #ccc;
} */

header {
  padding:5px;
  margin-bottom: 20px;
  border:1px solid #61dafb;
  justify-content: center;
}

header div {
  display: inline-block;
  width: 50px;
  height:20px;
  margin: 10px;
  padding: 5px;
  border: 1px solid blue;
}
.logo {
  width: 150px;
  height: 30px;
  border: 1px solid red;
}
.product {
  width: 54px;
  height: 17px;
  padding: 6 12 6 12;
  font-size: 14px;
  border: 1px solid red;
}
.headerInput {
  width: 785px;
  height: 32px;
  padding: 8 0 8 0;
  border: 1px solid blue;
}
.headerIcon {
  width: 20px;
  height: 47px;
  padding: 0 10 0 10;
  border: 1px solid red;
}

aside {
  width: 220px;
  padding:5px;
  float: left;
  margin-bottom:20px;
  border: 1px solid pink;
}

article {
  width: 1051px;
  height: 2275px;
  padding: 24px;
  float: right;
  margin-bottom: 20px;
  border: 1px solid yellow; 
}

section {
  width: 727px;
  height: 60px;
  background-color: whitesmoke;
  border: 1px solid gray;
  font-size: 12px;
}

section .headline {
  text-align: left;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  float: left;
}

.questionButton {
  width: 80.223px;
  height: 15px;
  padding: 10.4px;
  float: right;
}

.TotalQuestions {
  width: 250px;
  height: 22px;
  margin-right: 12px;
  float: left;
}
.filterBar {
  width: 465px;
  height: 35px;  
  background-color: gray;
  float:right;
  margin-top: 10px;
}

.filterBarButton {
  width: 43px;
  height: 14px; 
  padding: 9.6px;
  margin: 0 0 -1 -1;
  background-color: white;
  border: 1px solid black;
  display: inline;
}

.filterBarButton Active {
  width: 35px;
  height: 14px; 
}

.filterBarButton Bountied {
  width: 85px;
  height: 14px; 
}

.filterBarButton Unanswered {
  width: 70px;
  height: 14px; 
}

section .filteredQuestion {
  width: 720px;
  height: 90px;
  padding: 16px 16px 16px 16px;
  border: 1px solid black;
  background-color: whitesmoke;
}

.filteredQuestion .leftBox{
  width: 108px;
  height: 87px;
  background-color: antiquewhite;
  margin-right: 16px;
  margin-bottom: 4px;
  float: left;
  
}

.filteredQuestion .leftBox .leftBoxSons {
  width: 45px;
  height: 17px;
  background-color: azure;
  border: 1px solid black;
}

section .rightBox {
  width: 595px;
  height: 90.867px;
  background-color: beige;
  float: right;
}

.rightBoxSons {
  width: 571px;
  height: 22px;
  background-color: white;
  margin-right: 24px;
  border: 1px solid black;
}

.rightBoxSons2 {
  width: 595px;
  height: 34px;
  background-color: white;
  margin-top: -2px;
  margin-bottom: 8px;
  border: 1px solid black;
}
.rightBoxSons3 {
  width: 595px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
}

.tagBox {
  width: 159px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
  float: left;
  
}
.currentAskedTime {
  width: 174px;
  height: 16px;
  /* margin-left: 255px; */
  float: right;
  border: 1px solid black;
  background-color: bisque;
  font-size: 5px;
}
footer {
  clear: both;
  padding: 20px;
  border: 1px solid blue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
